/* Start of body section */
* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  max-height: 820px;
}
.slope-img,
.round-img,
.arrows-img,
.girl-img,
.quote,
.name-quote,
.career-quote,
.career-quote1,
.rightbutton,
.leftbutton {
  position: absolute;
}

.slope-img {
  padding-top: 666px;
}
.round-img {
  padding-left: 650px;
  padding-top: 75px;
}
.arrows-img {
  padding-top: 250px;
  padding-left: 300px;
}
.container-content {
  display: none;
  animation: fade-in 750ms forwards;
}
.container-content2 {
  animation: fade-out 750ms forwards;
  animation: fade-in 750ms forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opactiy: 1;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

.girl-img {
  border-radius: 5px;
  margin-left: 715px;
  margin-top: 139px;
  z-index: 1;
  box-shadow: 0 50px 40px -50px hsl(240, 38%, 20%);
}

.quote {
  font-size: 32px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  max-width: 632px;
  margin-top: 300px;
  margin-left: 152px;
  z-index: 2;
  color: hsl(240, 38%, 20%);
}
.name-quote,
.career-quote,
.career-quote1 {
  font-size: 23px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  z-index: 2;
  text-align: center;
  margin-top: 540px;
}
.name-quote {
  max-width: 700px;
  margin-left: 152px;
  color: hsl(240, 38%, 20%);
}
.career-quote {
  width: 400px;
  margin-left: 315px;
  color: hsl(240, 18%, 77%);
}
.career-quote1 {
  width: 150px;
  margin-left: 315px;
  color: hsl(240, 18%, 77%);
}

.rightbutton,
.leftbutton {
  height: 50px;
  width: 55px;
  margin-top: 650px;
  z-index: 2;
  border-style: none;
}

.rightbutton {
  margin-left: 835px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.leftbutton {
  margin-left: 780px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}
/* end of body section  */
/* media querys 480px  */

@media only screen and (max-width: 480px) {
  .slope-img,
  .girl-img,
  .quote,
  .name-quote,
  .career-quote,
  .career-quote1,
  .rightbutton,
  .leftbutton {
    position: absolute;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    max-height: 820px;
  }

  .slope-img {
    margin-top: 100px;
    height: 100px;
    width: 400px;
  }
  .round-img {
    padding: 0;
    margin-top: 67px;
    margin-left: 0px;
    width: 98.5%;
    height: 380px;
  }
  .arrows-img {
    padding: 0;
    margin-top: 450px;
    margin-left: 210px;
    max-width: 60px;
  }
  .container-content {
    display: none;
    animation: fade-in 750ms forwards;
  }
  .container-content2 {
    animation: fade-out 750ms forwards;
    animation: fade-in 750ms forwards;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opactiy: 1;
    }
  }

  @keyframes fade-out {
    100% {
      opacity: 0;
    }
    0% {
      opacity: 1;
    }
  }

  .girl-img {
    border-radius: 5px;
    margin-left: 84.5px;
    margin-top: 105px;
    z-index: 1;
    box-shadow: 0 50px 40px -50px hsl(240, 38%, 20%);
    max-width: 310px;
  }
  .quote,
  .name-quote,
  .career-quote,
  .career-quote1,
  .rightbutton,
  .leftbutton {
    z-index: 2;
  }
  .quote,
  .name-quote {
    color: hsl(240, 38%, 20%);
    font-size: 20px;
  }
  .quote,
  .name-quote,
  .career-quote,
  .career-quote1 {
    font-family: "Inter", sans-serif;
  }
  .quote {
    font-weight: 300;
    margin-top: 500px;
    margin-left: 65.5px;
    max-height: 200px;
    max-width: 345px;
    text-align: center;
  }
  .name-quote,
  .career-quote,
  .career-quote1 {
    font-weight: 500;
  }
  .name-quote {
    margin-top: 700px;
    margin-left: 173px;
    max-width: 275px;
  }
  .career-quote {
    font-size: 20px;
    margin-top: 725px;
    margin-left: 89.5px;
    color: hsl(240, 18%, 77%);
    max-width: 300px;
  }
  .career-quote1 {
    font-size: 23px;
    width: 150px;
    margin-top: 725px;
    margin-left: 164.5px;
    color: hsl(240, 18%, 77%);
    text-align: center;
  }
  .rightbutton,
  .leftbutton {
    height: 50px;
    width: 55px;
    margin-top: 390px;
    border-style: none;
  }

  .rightbutton {
    margin-left: 244px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  .leftbutton {
    margin-left: 190px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
  }
}

@media only screen and (max-width: 375px) {
  .slope-img,
  .girl-img,
  .quote,
  .name-quote,
  .career-quote,
  .career-quote1,
  .rightbutton,
  .leftbutton {
    position: absolute;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .container {
    display: flex;
    max-height: 820px;
  }

  .slope-img {
    margin-top: 100px;
    height: 100px;
    width: 400px;
  }
  .round-img {
    padding: 0;
    margin-top: 70px;
    margin-left: 10px;
    width: 100%;
    height: 355px;
  }
  .arrows-img {
    padding: 0;
    margin-top: 450px;
    margin-left: 169.5px;
    max-width: 60px;
  }

  .girl-img {
    border-radius: 5px;
    margin-left: 55px;
    margin-top: 105px;
    z-index: 1;
    box-shadow: 0 50px 40px -50px hsl(240, 38%, 20%);
    max-width: 290px;
  }
  .quote,
  .name-quote,
  .career-quote,
  .career-quote1,
  .rightbutton,
  .leftbutton {
    z-index: 2;
  }
  .quote,
  .name-quote,
  .career-quote,
  .career-quote1 {
    font-family: "Inter", sans-serif;
  }
  .quote,
  .name-quote {
    color: hsl(240, 38%, 20%);
    font-size: 20px;
  }
  .quote {
    font-weight: 300;
    margin-top: 500px;
    margin-left: 26px;
    max-height: 200px;
    max-width: 345px;
    text-align: center;
  }
  .name-quote,
  .career-quote,
  .career-quote1 {
    font-weight: 500;
  }
  .name-quote {
    margin-top: 700px;
    margin-left: 130px;
    max-width: 275px;
  }
  .career-quote {
    font-size: 20px;
    margin-top: 725px;
    margin-left: 49px;
    color: hsl(240, 18%, 77%);
    max-width: 300px;
  }
  .career-quote1 {
    font-size: 23px;
    width: 150px;
    margin-top: 725px;
    margin-left: 124px;
    color: hsl(240, 18%, 77%);
    text-align: center;
  }
  .rightbutton,
  .leftbutton {
    height: 50px;
    width: 55px;
    margin-top: 375px;
    border-style: none;
  }

  .rightbutton {
    margin-left: 209px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  .leftbutton {
    margin-left: 155px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
  }
}
